@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;600&display=swap');
body{
    font-family: 'Hind Siliguri', sans-serif;
    background-color: black; 
    text-align: center;  
}
*{
    padding: 0;
    margin: 0;
}
.pressed{
    box-shadow: 10px 5px 5px red;
    opacity: 0.33;
}
h1{
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    color: #FF9BD2;
    text-align: center;
}
.music{
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 10px;
    border: 10px #F8F4EC solid;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: 0.3s;
}
.music:hover{
    height: 200px;
    width: 200px;
}
.title{
    color: #D63484;
    transition: 0.3s;
    position: absolute;
    top: 22%;
    left: 38%;
    font-size: 7rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}
.title span{
    opacity: 0;
    display: inline-block;
    animation: anime 1s linear forwards;
}
@keyframes anime {
    0%{
        opacity: 0;
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        filter: blur(0px);
    }
}
.title span:nth-child(1){
    animation-delay: .25s;
}
.title span:nth-child(2){
    animation-delay: .5s;
}
.title span:nth-child(3){
    animation-delay: 1s;
}
.title span:nth-child(4){
    animation-delay: 1.25s;
}
.title:hover{
    color: #F8F4EC;
}
.instruments{
    margin-top: 100px;
    margin-bottom: 150px;
}
.footer{
    background-color: #F8F4EC;
    color: #D63484;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
video{
    width: 900px;
    height: 200px;
    object-fit: cover;
    margin-left: 1rem;
    border-radius: 30px;
}
.p{
    background-image: url(images/piano.jpeg);
}
.x{
    background-image: url(images/xylophone.jpeg);
}
.t{
    background-image: url(images/trumpet.jpeg);
}
.g{
    background-image: url(images/guitar.jpeg);
}
.f{
    background-image: url(images/flute.jpeg);
}
.b{
    background-image: url(images/bugle.jpeg);
}
.d{
    background-image: url(images/drum.jpeg);
}
